<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
	<bean id="t" class="com.workload.Student">
		<property name="firstName" value="ratnadeep"></property>
		<property name="lastName" value="tayade"></property>
		<property name="mobileNumber" value="+918459324994"></property>
		<property name="address" value="akola"></property>
	</bean>
</beans>